absl-py==2.1.0
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
contourpy==1.1.1
cycler==0.12.1
fairscale==0.4.4
filelock==3.16.1
fonttools==4.55.0
fsspec==2024.10.0
google-auth==2.37.0
google-auth-oauthlib==1.0.0
grpcio==1.68.1
huggingface-hub==0.26.2
idna==3.10
importlib_metadata==8.5.0
importlib_resources==6.4.5
joblib==1.4.2
kiwisolver==1.4.7
kornia==0.6.12
Markdown==3.7
MarkupSafe==2.1.5
matplotlib==3.7.5
nltk==3.9.1
numpy==1.24.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.2
opencv-python==4.10.0.84
packaging==24.2
pandas==1.5.3
pillow==10.3.0
protobuf==5.29.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydicom==2.4.4
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
scikit-learn==1.2.1
scipy==1.10.1
six==1.16.0
tensorboard==2.14.0
tensorboard-data-server==0.7.2
tensorboard-logger==0.1.0
threadpoolctl==3.5.0
timm==0.4.12
tokenizers==0.13.3
torch==1.13.1
torchvision==0.14.1
tqdm==4.66.1
transformers==4.27.4
typing_extensions==4.12.2
urllib3==2.2.3
Werkzeug==3.0.6
zipp==3.20.2
